.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 2rem;
  border-radius: 10px;
  border: 1px solid black;
  .pick{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    span{
      cursor: pointer;
      padding: 1rem;
      border-radius: 10px;
      
    }
    .active {
        background-color: var(--clr-accent-dark);
        color: white;
    }

  }

  button{
    background-color: var(--clr-accent-dark);
    border: none;
    padding: 1rem;
    border-radius: 10px;
  }
}
